/* 
 * WordPress formatted content
 * Provided from WYSIWYG Editor Styles
 * Just change and make it suitable with your document
 * ================================================================ */
.sticky,
.bypostauthor {
  position: static;
}
.entry-content img {
  margin: 0.5em 0 1.5em 0;
}
.alignleft,
img.alignleft {
  @include float(left);
  margin-right: 1.5em;
}
.alignright, 
img.alignright {
  @include float(right);
  margin-left: 1.5em;
}
.aligncenter, 
img.aligncenter {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
.alignnone, 
img.alignnone {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  margin-bottom: 1.5em;
  padding-top: 5px;
  img {
    border: 0 none;
    padding: 0;
    margin: 0 auto;
  }
  a, img {
    display: block;
  }
}
.wp-caption a:hover {
  border-bottom-color: $linkColor;
}
.wp-caption-text {
  line-height: 1.5;
  font-size: 12px;
  margin: 12px 0 0 0;
  color: #666;
  position: relative;
  font-family: $sansFontFamily;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
.sticky,
.gallery-caption,
.bypostauthor {
  position: static
}